@import '~antd/dist/antd.less';
.App {
  text-align: left;
}
.navbar {
  text-align: left;
  background-color: gray;
}
#aipm_title {
  color: white;
  margin-top: -100px;
  margin-left: 140px;
  // z-index: 1;
  // margin-left: '140px';
}
.home-container {
  background: white;
  padding: 24px;
  min-height: 580px;
}
.aipm-title {
  font-size: 2.5em;
  margin-top: -200px;
  margin-left: 140px;
}
.aipm-desc {
  position: relative;
  
}
/* navbar End */

/* Home page start */
.home-img {
  width: 100%;
  height: 500px;
}
.aipm-home {
  text-align: center;
}
.aipm-home-title {
  color: red;
  margin-top: -300px;
  
}
.aipm-home-desc {
  // background-color: black;
  color: black;

  
}
.home-testimony {
  margin-top: 200px;
}
.home-testimony img {
  width: 100px;
  height: 100px;
}
.home-testimony div {
  width: 400px;
  border: 1px solid black;
  padding: 50px;
  margin: 20px;
}
.home-testimony p {
  margin-top: -100px;
  margin-left: 65px;
  padding-left: 40px;
}
.aipm-button {
  margin-top: 220px;
  margin-bottom: 50px;
  // width: 100%;
  left: 45%;
}
.testimony-cards {
  margin-bottom: 80px;
}
// .carsousel {
//   left: 50px;
// }
.carsousel div{
  height: 360px;
  // line-height: 160px;
  background: #364d79;
}
.carsousel h2, .carsousel h3{
  padding-top: 40px;
  color: black;
  // line-height: 160px;
  text-align: center;
  background: #364d79;
}
.testi-img-one, .testi-img-two, .testi-img-three {
  height: 170px;
}

/*App Page start */

.footer {
  background-color: black;
  color: white;
}
/*App Page end */

/* footbar start */
.app-footbar h2 {
  color: white;
}
// .app-footbar section:nth-child(2) {
//   margin-top: 25px;
//   left: 500px;
// }
.footer-section-2 {
  position: absolute;
  margin-top: -100px;
  margin-left: 400px;
}
.footer-section-3 {
  position: absolute;
  margin-top: -100px;
  margin-left: 800px;
}
/* footbar end */

/* Home Page End */

/* large devices */
@media (min-width: 1200px) {

}
/* medium devices */
@media (min-width: 992px) and (max-width: 1199px) {
  .footer-section-3 {
    position: relative;
    margin-top: 10px;
    margin-left: 350px;
  }
  .footer-section-2 {
    position: relative;
    margin-left: 600px;
  }
  .footer-section-1 {
    position: relative;
    margin-left: 150px;
  }
  // .footer-section-3 {
  //   color: green;
  //   margin-top: 100px;
  //   left: 50%;
  // }
}
/* small devices */
@media (min-width: 768px) and (max-width: 991px) {
  .footer-section-3 {
    position: relative;
    margin-top: 10px;
    margin-left: 200px;
  }
  .footer-section-2 {
    position: relative;
    margin-left: 400px;
  }
  .footer-section-1 {
    position: relative;
    margin-left: 25px;
  }
}
/* extra small devices */
@media (max-width: 767px) {
  .footer-section-3 {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
  }
  .footer-section-2 {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
  }
  .footer-section-1 {
    position: relative;
    margin-left: 10px;
  }
}
/* ultra small devices */
@media (max-wdith: 479px) {

}
